doctype html
html(lang='en', ng-app='phonecatApp')
  head
    meta(charset='utf-8')
    title My HTML File
    link(rel='stylesheet', href='')
    script(src='/javascripts/vendor/angular.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/phone-list.component.js')
  body
    phone-list
    table
      tr
        th(colspan='8') Row Number
      tr(ng-repeat='i in [1, 2, 3, 4, 5, 6, 7, 8]')
        td(ng-repeat='j in [1, 2, 3, 4, 5, 6, 7, 8]') {{ i }}, {{ j }}
