doctype html
html(lang='en', ng-app)
  head
    meta(charset='utf-8')
    title My HTML File
    link(rel='stylesheet', href='')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js')
  body
    p Nothing here {{ 'yet' + '!' }}
