doctype html
html(lang='en', ng-app)
  head
    meta(charset='utf-8')
    title My HTML File
    link(rel='stylesheet', href='')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js')
  body
    p Nothing here {{ 'yet' + '!' }}
    ul
      li
        span Nexus S.
        p Fast just got faster with Nexus S.
      li
        span Motorola XOOM with Wi-Fi
        p The Next, Next Generation Tablet
    p Total Number of phones: 2
