<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-2'>
      Search: <input ng-model="$ctrl.query" />
      Search for: {{ $ctrl.query }}
    </div>
    <div class='col-md-10'>
      <p>hello {{ $ctrl.user }}</p>
      <ul class='phones'>
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query">
          <span>{{ phone.name }}</span>
          <p>{{ phone.snippet }}</p>
        </li>
      </ul>
      <p>Total number of phones: {{ $ctrl.phones.length }}</p>
    </div>
  </div>
</div>
